:root{
  --bluecolor:#1976d2;
  --bluelightcolor:#5aa1e7;
  --redcolor:#d32f2f;
  --greencolor:#2e7d32;
  --orangecolor:#ed6c02;
  --purbecolor:#9c27b0;
  --textcolor:#ffffff;




}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-transition: all 0.5s 0s ease;
-moz-transition: all 0.5s 0s ease;
-o-transition: all 0.5s 0s ease;
transition: all 0.5s 0s ease;
  }
  body{
    max-width: 100vw;
    height: 80vh;
    overflow-x: hidden;
  }
  html{
    scroll-behavior: smooth;
    /* scrollbar-color: var(--bluelightcolor); */
  }
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background:url("/src/assets/bg.png"); 
  margin: auto;
}


.container {
  width: 90vw;
  height: 85vh;
  display: flex;
  align-content: space-between;
  position: relative;
  -webkit-box-shadow: 10px 10px 17px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 17px -11px rgba(0,0,0,0.75);
box-shadow: 10px 10px 17px -11px rgba(0,0,0,0.75);
border-radius: 40px;
background-color: transparent;


  /* background-color: aqua; */


}

.topleft{
  position: absolute;
  left: 0;
  top: 0;
  width: 52px;
  height:  52px;
  background-color:var(--bluecolor) ;
  z-index: 1000;
  border-bottom-right-radius: 4px;
}

.topright{
  position: absolute;
  right: 0;
  top: 0;
  width: 52px;
  height:  52px;
  background-color:var(--redcolor);
  border-bottom-left-radius: 4px;

}

.buttomright{
  position: absolute;
  right: 0;
  bottom:  0;
  width: 52px;
  height:  52px;
  background-color: var(--orangecolor);
  border-top-left-radius: 4px;
}

.buttomleft{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 52px;
  height:  52px;
  background-color:var(--greencolor);
  border-top-right-radius: 4px;
}

.sidebar {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 14px;
  background-color: transparent;
}

.bodyarea {
  width: 79%;
  height: 100%;
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contentara {
  height: 78%;
  position: relative;
  background-color: rgb(68, 197, 79);
}

.contentara_aree {
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  border: 2px solid var(--textcolor);
  border-radius: 0px 100px  0px 0px;
  background-color: rgb(33, 20, 228);
  opacity: .5;
}
.footarea {
  height: 10%;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
}

.img__area {
  position: relative;
  height: 20%;
  width: 100%;
  background-color:var(--bluecolor);
}

.button__area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 55%;

}

.arow__area {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 20%;
  
}

.about_btn {
  height: 15%;
}

.exp_btn {
  height: 15%;

}


.live_btn {
  height: 15%;

}

.gallery_btn {
  height: 15%;

}

.contact_btn {
  height: 30%;

}

.img__area_cont {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: scale-down;

}
.about_arw{
  width:  20%;
  display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  
}
.exp_arw{ 
  width:  20%;
  display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.live_arw{
  width:  20%;
  display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
.gallery_arw{
  width:  20%;
  display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .mail_div
  {
    background-color:var(--purbecolor);
    height: 100%;
    width: 25%;
    color:var(--textcolor);
    border-radius: 4px 0px 0px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .whatsapp_div
  {
 
    background-color:var(--greencolor);
    height: 100%;
    width: 25%;
    color:var(--textcolor);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .linkdn_div
  {
    background-color:var(--redcolor);
  
    height: 100%;
    width: 25%;
    color:var(--textcolor);
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .twter_div
  {
    background-color:var(--bluecolor);
    height: 100%;
    width: 25%;
    color:var(--textcolor);
    border-radius: 0px 4px 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .facebook_div
  {
    background-color:var(--bluelightcolor);
    height: 100%;
    width: 25%;
    color:var(--textcolor);
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 2rem; */
    /* font-weight: 200; */

  }
  .wave{
  position: absolute;
  /* left: 52; */
  bottom:0;
  left: 0;
  width: 100%;
  /* background-color:red; */
  height:  50%;

    background-image:url("/src/assets/wave.svg"); 
   
  }
  .swiper_div{
    width: 100%;
    height: 70%;
    user-select: none;
    background-color: transparent;
  }
  .swiper {
    width: 90%;
    height: 100%;
  }
  
  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  
  .swiper-slide:nth-child(1n) {
    border: 5px solid black;
    border-image-outset:150px;
    border-image: url('/src/assets/prevWorker/alsuraia.png') 30;
    background-color: var(--bluecolor);
    opacity: .5;
    
  }
  
  .swiper-slide:nth-child(2n) {
    border: 5px solid black;
    border-image-outset:150px;
    border-image: url('/src/assets/prevWorker/alsuraia.png') 30;
    background-color:var(--purbecolor);
    opacity: .5;

   
  }
  
  .swiper-slide:nth-child(3n) {
    background-color:var(--greencolor);
    opacity: .5;
  }
  
  .swiper-slide:nth-child(4n) {
    background-color:var(--orangecolor);
    opacity: .5;
  }
  
  .swiper-slide:nth-child(5n) {
    background-color:var(--redcolor);
    opacity: .5;
  }
  
   
  .swiper_div .swiper-button-next {
    color: var(--textcolor);
    top:30px

  }
 .swiper_div .swiper-button-prev{
    color: var(--textcolor);
    
    
   
    top:30px

  }

  .swiper-button-next:after {
    font-family: swiper-icons;
    /* font-size: var(--swiper-navigation-size); */
    text-transform: none!important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}
.div_worker{
  /* position: absolute; */
  /* top:100px; */
  border-radius: 100px;
  width: 20%;
  /* background-color: #2e7d32; */
  margin: 0 auto;
}
.img_worker{
  width: 100%;
  /* aspect-ratio: 1/1; */
  object-fit: contain;
  border-radius: 100px;
  opacity: .5;

}
 